body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Navigation bar css code start here  */

.navbar {
    background-color: #ffffff;
    padding: 10px 20px;
    -webkit-box-shadow: 3px 11px 17px -1px #ebebeb;
    box-shadow: 3px 11px 17px -1px #ebebeb;
}

.navbar__container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    padding: 0 20px;
}

.navbar__toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    margin-right: 10px;
    display: none;
}

.navbar__toggle-icon {
    font-size: 20px;
}

.navbar__brand-link {
    text-decoration: none;
    color: #333;
}

.navbar__menu-item {
    margin-right: 18px;
    margin-left: 30px;
}

.navbar__brand-content {
    display: flex;
    align-items: center;
}

.navbar__brand-content img {
    height: 50px;
    margin-right: 10px;
}

.navbar__menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar__menu-link {
    text-decoration: none;
    color: #333;
}

.navbar__menu-link:hover {
    padding: 10px;
    background-color: #dadce0;
    color: #007bff;
    /* Change color on hover */
}

.offcanvas-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.offcanvas-menu .navbar__menu-list {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.offcanvas-menu .navbar__menu-item {
    margin-bottom: 10px;
}

.offcanvas-menu .navbar__menu-link {
    text-decoration: none;
    color: #333;
}

.offcanvas-menu .btn {
    margin-top: 20px;
}

/* Navigation bar css code start here  */


/* bannaer css start here  */


.header-container {
    text-align: center;
    margin: 30px auto;
    max-width: 600px;
    padding: 20px;
    transition: padding 0.3s ease;
}

.header-container h1 {
    font-size: 4.5rem;
    font-weight: bold;
}


.nav-header-container {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 600px;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: padding 0.3s ease;
}


.header-nav {
    margin-top: 10px;
    background-color: #fafafa;
    padding: 10px;
    border-radius: 50px;
    -webkit-box-shadow: -4px 0px 16px 14px #eeeded;
    box-shadow: -4px 0px 16px 14px #eeeded;
}

.header-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.header-nav-item {
    margin-right: 20px;
}

.header-nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    transition: all 0.3s ease;
}

.header-nav-link:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}

.hidden {
    opacity: 1;
}

.scrolled .hidden {
    opacity: 0;
}

.additional-content {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    transition: opacity 0.3s ease;
    padding: 60px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    transition: opacity 0.3s ease;
    margin-top: 30px;
    margin-bottom: 30px;
}

.additional-content p {
    margin: 10px;
}

.additional-content a {
    color: #007bff;
    text-decoration: none;
}

.additional-content a:hover {
    text-decoration: underline;
}

/* .scrolled .nav-header-container {
    box-shadow: none;
} */

.scrolled .additional-content {
    opacity: 0;
}

.scrolled .nav-header-container {
    box-shadow: none;
    padding-bottom: 0;
}


.header-scroll-container {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    align-items: center;
}

.header-scroll-image-container {
    width: 100%;
    height: 100%;
}

.header-scroll-image {
    width: 100%;
    height: auto;
    display: block;
}

/* bannaer css end here  */



/* sliders code start here */
.fast-container {
    text-align: center;
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
}

.fast-heading h1 {
    font-size: 3.1rem;
    font-weight: bold;
    opacity: 0;
    animation: fadeInOut 5s forwards;
}

.fast {
    background-color: #e0f3e0;
    padding: 2px 6px 2px 2px;
    border-radius: 4px;
    position: relative;
}

.fast::before {
    font-size: 16px;
    position: absolute;
    left: -20px;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}


.owl-stage {
    width: 80%;
}

.owl-item {
    width: 80%;
}


.first-card,
.second-card,
.third-card {
    height: 450px;
    margin: 20px auto;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 30px;
    position: relative;
}

.first-card {
    background-color: #FAF9F6;
}

.second-card {
    background-color: #fceb8e;
}

.third-card {
    background-color: #046909;
}

.first-card-heading,
.second-card-heading,
.text-section-heading {
    padding: 40px;
}

.first-card-heading h2,
.second-card-heading h2,
.text-section-heading h2 {
    font-size: 32px;
    font-weight: bold;
}

.first-card-heading p,
.second-card-heading p,
.text-section-heading p {
    font-size: 16px;
}

.first-card-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 650px;
    height: 280px;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.second-card-img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.third-card .text-section {
    padding: 35px;
    color: #eeeded;
}

.qr-code-section {
    height: 210px;
    width: 240px;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px 40px 0 0;
    position: absolute;
    bottom: 0;
}

.qr-code-section img {
    height: 90px;
    width: 180px;
    object-fit: contain;
}

.qr-code-section p {
    font-size: 18px;
    margin-top: 10px;
    color: black;
}

.device-preview img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 50%;
    max-height: 90%;
}

.carousel-controls {
    margin-top: 20px;
}

.carousel-controls button {
    margin-right: 10px;
    background-color: #93c5fa;
    width: 55px;
    height: 55px;
    color: rgb(49, 47, 47);
    padding: 5px;
    border: none;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    cursor: pointer;
}

.carousel-controls button:hover {
    background-color: rgb(200, 200, 235);
}

/* sliders code end here */